.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media only screen and (min-width: 768px) and (max-width: 1024px) { }
@media only screen and (min-width: 425px) and  (max-width: 768px) { 
  .wrapper{
    margin:2rem !important;
    display: grid !important;
    grid-gap: 2rem;
    height: 70%;;
  grid-template-columns: repeat(2,1fr)  !important;
  }
}
 @media only screen and (min-width: 310px) and (max-width: 425px) { 
  .wrapper{
    margin:2rem !important;
    display: grid !important;
    grid-gap: 2rem;
    height: 70%;;
  grid-template-columns: repeat(1,1fr)  !important;
  }
}
* {
  box-sizing: border-box;
  background-color: rgb(244, 244, 244);
  color: #333;
  font-size: 10px;
}

.App {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px;
}

.wrapper {
  margin: 5rem;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2rem;
  height: 50% ;
}
.container img {
  transition: transform 0.25s ease;
  cursor: zoom-in;
}

.container img:active {
  -webkit-transform: scale(2);
  transform: scale(2);
  cursor: zoom-out;
}